<!DOCTYPE html>
<html>
    <head>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="container">
            <div style="display: flex; gap: 8px;">
            <button onclick="currentTicker = 'AAPL'; loadStock()">AAPL</button>
            <button onclick="currentTicker = 'TSLA'; loadStock()">TSLA</button>
            <button onclick="currentTicker = 'NVDA'; loadStock()">NVDA</button>
            <button onclick="currentTicker = 'MSFT'; loadStock()">MSFT</button>
            <button onclick="currentTicker = 'GOOGL'; loadStock()">GOOGL</button>
            <button onclick="currentTicker = 'AMZN'; loadStock()">AMZN</button>
            <button onclick="currentTicker = 'META'; loadStock()">META</button>
            <button onclick="currentTicker = 'AMD'; loadStock()">AMD</button>
            <button onclick="currentTicker = 'SPY'; loadStock()">SPY</button>
        </div>
        <h2 id="ticker-header"></h2>
        <div id="stock-info" class="card"></div>
        <div id="prediction" class="card"></div>
        <div id="rsi-card" class="card"></div>
        <div id="macd-card" class="card"></div>
        <div style="display: flex; gap: 10px">
            <button onclick="currentPeriod = '5d'; loadStock()">5D</button>
            <button onclick="currentPeriod = '1mo'; loadStock()">1M</button>
            <button onclick="currentPeriod = '3mo'; loadStock()">3M</button>
            <button onclick="currentPeriod = '6mo'; loadStock()">6M</button>
            <button onclick="currentPeriod = '1y'; loadStock()">1Y</button>
            <select onchange="currentChartType = this.value; loadStock()">
                <option value="line">Line</option>
                <option value="candlestick">Candlestick</option>
                <option value="mountain">Mountain</option>
            </select>
        </div>
        <div id="chart"></div>
        <div id="volume-chart"></div>
        <div id="news-feed" class="news-widget"></div>
        <script>
            let currentTicker = 'AAPL';
            let currentChartType = 'line';
            let currentPeriod = '1mo';
            function getIndicators() {
                fetch(`/api/indicators/${currentTicker}`)
                    .then(response => response.json())
                    .then(data => {
                        const rsiColor = data.RSI < 30? '#3fb950' : data.RSI > 70 ? '#f85149' : '#e6edf3'
                        document.getElementById('rsi-card').innerHTML =
                            `<p style="color:#8b949e; margin:0; font-size:12px;">RSI</p>
                            <span style="font-size:28px; font-weight:600; color:${rsiColor}">${data.RSI}</span>`
                        document.getElementById('macd-card').innerHTML = 
                            `<div>
                                <p style="color:#8b949e; margin:0; font-size:12px;">MACD</p>
                                <span style="font-size:28px; font-weight:600;">${data.MACD}</span>
                            </div>
                            <div>
                                <p style="color:#8b949e; margin:0; font-size:12px;">SIGNAL</p>
                                <span style="font-size:18px; font-weight:600;">${data.signal}</span>
                            </div>`
                    })
            }
            function getNews() {
                fetch(`/api/news/${currentTicker}`)
                    .then(response => response.json())
                    .then(data => {
                        let html = '<h3>Top Stories</h3>';
                        data.forEach(article => {
                        html += `<img src="${article.image}" width="170"><br><a href="${article.url}" class="news-title">${article.title}</a><p>${article.source}</p>`
                        })
                        document.getElementById('news-feed').innerHTML = html
                    })
            }
            function getStockInfo() {
                fetch(`/api/info/${currentTicker}`)
                    .then(response => response.json())
                    .then(data => {
                        const change = (((data.currentPrice - data.previousClose)/data.previousClose) * 100).toFixed(2);
                        const changeColor = change > 0 ? '#3fb950' : '#f85149';
                        const changeIcon = change > 0 ? '▲' : '▼';
                        document.getElementById('stock-info').innerHTML = `
                            <p style="color:#8b949e; margin:0; font-size:12px;">CURRENT PRICE</p>
                            <span style="font-size:28px; font-weight:600;">$${data.currentPrice}</span>
                            <p style="color:#8b949e; margin:8px 0 0 0; font-size:12px;">DAILY CHANGE</p>
                            <span style="font-size:18px; color:${changeColor};">${changeIcon} ${change}%</span>`
                        document.getElementById('ticker-header').innerText = `${currentTicker}`
                    })
            }
            function getPrediction() {
                fetch(`/api/predict/${currentTicker}`)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('prediction').innerHTML = `
                            <p style="color:#8b949e; margin:0; font-size:12px;">PREDICTION</p>
                            <span style="font-size:28px; font-weight:600;">${data.direction}</span>
                            <p style="color:#8b949e; margin:8px 0 0 0; font-size:12px;">CONFIDENCE</p>
                            <span style="font-size:18px;">${data.confidence}%</span>`
                    })
            }
            function loadStock() {
                fetch(`/api/stock/${currentTicker}/${currentPeriod}`)
                    .then(response => response.json())
                    .then(data => {
                        let trace;
                        if (currentChartType === 'candlestick') {
                            trace = {
                            x: data.map(item => item.Date),
                            open: data.map(item => item.Open),
                            high: data.map(item => item.High),
                            low: data.map(item => item.Low),
                            close: data.map(item => item.Close),
                            type: 'candlestick'
                            }
                        } else if (currentChartType === 'mountain') {
                            trace = {
                            x: data.map(item => item.Date),
                            y: data.map(item => item.Close),
                            fill: 'tozeroy',
                            type: 'scatter',
                            mode: 'lines'}
                        } else {
                            trace = {
                            x: data.map(item => item.Date),
                            y: data.map(item => item.Close),
                            type: `${currentChartType}`,
                            mode: 'lines'}
                        }
                    volumeTrace = {
                        x: data.map(item => item.Date),
                        y: data.map(item => item.Volume),
                        marker: {color: '#58a6ff' },
                        yaxis: 'y2',
                        type: 'bar',
                        showlegend: false
                    }
                    Plotly.newPlot('chart', [trace, volumeTrace], {
                        paper_bgcolor: '#0d1117',
                        plot_bgcolor: '#0d1117',
                        grid: { rows: 2, columns: 1, pattern: 'coupled'},
                        showlegend: false,
                        font: { color: '#e6edf3' },
                        xaxis: { type: 'date', gridcolor: '#30363d' },
                        yaxis: { gridcolor: '#30363d' },
                        yaxis2: { gridcolor: '#30363d' },
                    })
                    getPrediction()
                    getStockInfo()
                    getNews()
                    getIndicators()
                })
            }
            setInterval(loadStock, 30 * 60 * 1000)
            loadStock()
        </script>
        </div>
    </body>
</html>